[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RSBJson"]
	path = RSBJson
	url = https://github.com/cran/RSBJson
[submodule "SDaA"]
	path = SDaA
	url = https://github.com/cran/SDaA
[submodule "SMCRM"]
	path = SMCRM
	url = https://github.com/cran/SMCRM
[submodule "helloJavaWorld"]
	path = helloJavaWorld
	url = https://github.com/cran/helloJavaWorld
[submodule "km.ci"]
	path = km.ci
	url = https://github.com/cran/km.ci
